.home-container {
  width: 500px;
  height: 30px;
  margin-top: 20px;
  //border: 1px solid #99CC00;
}

.home-title {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid #99cc00;
  border-radius: 5px;
  h1 {
    color: #000099;
    font-weight: bold;
  }
}

.home-item {
  display: flex;
  margin: 10px;
}

.home-item-reverse {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.home-description-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-left: 50px;
}

.home-description-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flip {
  color: "#000099";
}
